/*
.versions {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background: #1a1a1a;
    z-index: 2;
}

.versions__top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3vh;
    width: 100%;
    height: 14vh;
    background: #373737;
    border-bottom: #686868 0.55vh solid;
}

.versions__top-button {
    width: 26vh;
    height: 5.4vh;
    background: #252525;
    border-radius: 2.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.7vh;
    cursor: pointer;
}

.versions__top-button.blue {
    background: #3aa3d0;
}

.versions__bottom {
    display: flex;
    width: 100%;
    height: 86vh;
}

.versions__bottom__left {
    display: flex;
    justify-content: center;
    width: 55%;
    max-height: 86vh;
    overflow-y: auto;
}


.versions__bottom__left-table {
    margin-top: 5vh;
    width: 85vh;
    border-collapse: collapse;
}

.versions__bottom__left-table tr {
    width: 100%;;
}

.versions__bottom__left-table-head th {
    padding: 1vh 0;
    text-align: center;
    font-size: 3vh;
}

.versions__bottom__left-table-head {
    border-bottom: #a6a6a6 0.4vh solid;
}

.versions__bottom__left-table-body td {
    padding: 1vh 0;
    text-align: center;;
    border-bottom: #a6a6a6 .4vh solid;
    font-size: 2.5vh;
}

.empty {
    background: transparent;
    border: 1vh solid #1a1a1a;
}

.versions__bottom__left-table img {
    width: 3vh;
    height: 3vh;
    cursor: pointer;
}

*/

.versions {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background: #1a1a1a;
    z-index: 2;
}

.versions__top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3vh;
    width: 100%;
    height: 14vh;
    background: #373737;
    border-bottom: #686868 0.55vh solid;
}

.versions__top-button {
    width: 26vh;
    height: 5.4vh;
    background: #252525;
    border-radius: 2.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.7vh;
    cursor: pointer;
}

.versions__top-button.blue {
    background: #3aa3d0;
}


.versions__bottom {
    width: 100%;
    height: 100%;
    max-height: 86vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 5vh;

    overflow: hidden;
}

.versions__bottom__left {
    width: 113vh;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.versions__bottom__left-table-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-left: 4vh;
    width: 100vh;
    border-radius: 2vh;
    border: .27vh solid #a6a6a6;
}

.versions__bottom__left-table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    font-family: var(--font-family);
}

.versions__bottom__left-table-head th {
    font-size: 4vh;
    border-bottom: 1vh solid #a6a6a6;
    padding: 1vh 0;
    border-radius: 2.5vh;
    text-align: center;
    background: #1a1a1a;
}

.versions__bottom__left-table-body td {
    font-size: 2.7vh;
    border-bottom: 0.4vh solid #a6a6a6;
    padding: 1vh 0;
    text-align: center;
    background: #1a1a1a;
    border-radius: 2.5vh;
}
.versions__bottom__left-table-body-row:last-child td {
    border-bottom: none;
}

.left-round {
    min-width: 1vh;
    border-radius: 3vh 0 0 0 !important;
}

.right-round {
    border-radius: 0 3vh 0 0;
}

.empty-left, .empty-right, .empty {
    //border-bottom: 0.4vh solid #1a1a1a !important;
    padding: 0vh 1.5vh!important;
}


.versions__bottom__left-table img {
    width: 3vh;
    height: 3vh;
    cursor: pointer;
}

.versions__bottom__left-table-body-row-left {
    margin-bottom: -.6vh!important;
}

.versions__bottom__left-table-body-row-right {
    margin-bottom: -.5vh!important;
}


.versions__bottom__right {
    width: 90vh;
    height: 100%;
    display: flex;
    justify-content: center;
}

.versions__bottom__right-changelog {
    width: 80vh;
    height: 80vh;
    border: .27vh solid #a6a6a6;
    border-radius: 2.5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.versions__bottom__right-changelog-title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 6.5vh;
    border-bottom: #a6a6a6 1vh solid;
    font-size: 4vh;
    font-family: var(--font-family);
}

.versions__bottom__right-changelog-text {
    display: flex;
    width: 95%;
}

.versions__bottom__right-changelog-text-content {
    margin-top: 2vh;
    font-size: 2vh;
    font-family: 'Roboto', sans-serif;
    overflow-y: auto;
    height: 100%;
    max-height: 72vh;
    width: 100%;
}


